@import url('https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans+SC|Raleway:800|Roboto:900');
$primary-font: 'Raleway', 'Roboto', 'Montserrat', 'Noto Sans SC', 'Helvetica';

@mixin flex-config($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

html, body {
    height: 400vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: scroll;
}
body {
    background: #fc4a1a; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fc4a1a, #f7b733); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fc4a1a, #f7b733); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

section.container-fluid { height: 100vh; border-style: solid;}

//Home-Landing-----------------------------------------------
section:nth-of-type(1) {
    @include flex-config(column, center, center);
    width: 100%;
    .row:nth-of-type(1) {
        div {
            @include flex-config(row, center, center);
            h1 {
                color: rgba(255, 255, 255, 1);
                font-family: $primary-font;
                font-size: 500%;
                font-weight: bolder;
            }
            
        }
    }
    .row:nth-of-type(2) {
        #bounceText {
            h3, span {
                color: rgba(255, 255, 255, 1);
                padding: 40px 0 0 0;
                font-family: $primary-font;
                font-weight: bolder;
                letter-spacing: 5px;
                font-size: 120%;
            }
        }
    }
}
@media (max-width: 991px ) {
    //Home-Landing--
    section:nth-of-type(1) {
        .row {
            div { 
                h1 { max-width: 420px; }   
            }
        }
    }

}
@for $i from 0 through 30 {
    .animatePhraseIn#{$i} { 
        transform: rotateX(-135deg);
        opacity: .50;
        filter: blur(3px);
        display: inline-block;
        transform-origin: center 100%;
        animation: AnimatePhraseIn #{ .25 + ( $i * .075 ) }s linear 0s forwards; 
    }
    .animatePhraseOut#{$i} {
        display: inline-block;
        animation: AnimatePhraseOut #{ .075 + ( 30 - $i ) * .075 }s ease 0s forwards; 
    }
}
@keyframes AnimatePhraseIn {
    100% {
        opacity:  1; 
        filter: blur(0px);
        transform: rotateX(3600deg);
    }
}
@keyframes AnimatePhraseOut {
    100% {
        opacity: 0;
        filter: blur(20px);
    }
}
//----------------------------------------------/Home-Landing


#desktopNav {
    position: fixed;
    top: 10%;
    left: 20%;
    height: 1%;
    width: 60%;

    transform-origin: left center;

    @include flex-config(row, space-between, center);
    background: rgba(255, 255, 255, 1);

    div {
        background: rgba(255, 255, 255, 1);
        height: 125px;
        width: 125px;
        border: 5px solid white;
        border-radius: 100%;
        @include flex-config(row, center, center);
    
        p { 
            margin: 0;
            padding: 0;  
            font-family: $primary-font;
            font-size: 90%;
            text-transform: uppercase;
            color: blue;
        }

        &:hover {
            background: blue;
            p { color: white; }
        }
    }
}

.menuToSide {
    //animation: MenuToSide 4s ease-in-out 0s forwards; 
}
.menuWordsToSide {
    //animation: MenuWordsToSide 4s ease-in-out 0s forwards; 
}
@keyframes MenuToSide {
    100% {
        width: 40%;
        top: 15%;
        left: calc( 100% - 200px );
        transform: rotate(90deg);
    }
}
@keyframes MenuWordsToSide {
    100% {
        transform: rotate(-90deg);
    }
}















//Mobile/Tablet
@media (max-width: 768px) {
    //Home-Landing-------------------------------------------
    section:nth-of-type(1) {
        .row:nth-of-type(1) {
            div {  h1 { font-size: 400%; max-width: 325px; } }
        }
        .row:nth-of-type(2) {
            height: 150px;
            div {
                text-align: center;
                h3 { font-size: 80%; br { display: initial; } }
            }
        }
    }
    //-------------------------------------------------------
}
